header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
   /* background-color: #f7e7ce;*/
    
}

body{
    margin: 0px;
    /*background-color: 	#fdfbe5;
    background-color:	#fbefe7;*/
   
}

.icon{
    display: flex;
    align-items: center;
   
}

.icon img{
    padding: 5%;
}

.icon h4{
    font-family: 'Domine', serif;
    font-weight: bolder;
    font-size: 2em;
    flex-shrink: 0;

}

.nav{
    display:flex;
    
}

.nav li{
    list-style: none;
}

.nav a{
    text-decoration: none;
    background-color: transparent;
    color: #797979;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #797979;
    border-radius: 20px;
    padding: 0.5em;
    margin: 6px;
   
}

h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 6em;
    border: 1px solid grey;
    padding: 0.5em;
    /*color: #e56363;*/
    margin:0px;
    /*background-color: #f7e7ce;*/

}

h2{
    font-size: 1.8em;
    padding-left: 2em;
}

h4{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 0.5em;
    margin: 2em;
}

.article{
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #797979;;
    border-radius: 50px;
    width: 700px;
    padding:20px;
    padding-left: 0px;
    margin:10px;
    /*background-color:		#f7e7ce;
    /*#fad7b7;*/
    
    
}

.article-text{
    width: 300px;
    padding-left:20px;
    padding-right:20px;
}

.portrait{
    border-radius: 50%;
    width: 300px;
    margin:0px;
    padding:0px;
   
}

.article figure{
    margin:0px;
    padding:0px;
}

.resume ol{
    list-style-type: square;
}

.resume{
    border: 1px solid #797979;
    border-radius: 50px;
    width: 400px;
    padding:20px;
    margin:10px;
    /*background-color: 	#f7e7ce;*/
    /*margin: auto;*/
}

.about-me{
    display: flex;
    justify-content: center;

}

.projects-container{
    display: flex;
    justify-content: space-evenly;
}

.projects-python{
    border: 1px solid #797979;
    padding: 25px;
    margin: 40px;
    border-radius: 50px;
    text-align: justify;
    /*background-color: 	#fdfbe5;*/ 
}

.projects-python p{
    margin-left: 1em;
    margin-right: 1em;
}

.project-container{
    border: 1px solid #797979;;
    width: 500px;
    height: inherit;
    border-radius: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    
}


.projects-container p{
    /*margin:40px;*/
    text-align: justify;

  
    
}

.project-container p{
    /*margin:40px;*/
    /*padding: 15px;*/
    text-align: justify;
    
}

.image-container-1{
    height:300px;
    background-image: url(../IMAGES/Screenshot\ from\ 2020-02-13\ 13-47-30.png);
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #797979;
    
}

.image-container-2{
    height:300px;
    background-image: url(../IMAGES/Screenshot\ from\ 2020-03-02\ 20-15-12.png);
    border-radius: 10px;
    object-fit:cover;
    border: 1px solid gray;

}

.projects-other-technologies{
    border: 1px solid #797979;;
    padding: 25px;
    border-radius: 50px;
    margin:40px;
    margin-top: 20px;
    height: inherit;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.image-container-3{
    height:300px;
    background-image: url(../IMAGES/Screenshot\ from\ 2020-02-29\ 09-50-26.png);
    border-radius: 10px;
    object-fit:cover;
    border: 1px solid gray;
    
}

.image-container-4{
    height:300px;
    background-image: url(../IMAGES/Screenshot\ from\ 2020-03-02\ 19-52-58.png);
    border-radius: 10px;
    object-fit:cover;
    border: 1px solid grey;
   
}

.image-container-5{
    
    height:300px;
    background-image: url(../IMAGES/Screenshot\ from\ 2020-03-03\ 10-51-55.png);
    border-radius: 10px;
    object-fit:cover;
    border: 1px solid grey;
    
    
}

.image-container-6{
    
    height:300px;
    background-image: url(../IMAGES/Screenshot\ from\ 2020-03-02\ 21-35-03.png);
    border-radius: 10px;
    object-fit:cover;
    border: 1px solid grey;
    
    
}


.media{
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    height: 200px;
}

.media a{
    display: flex;
    width: 60px;
    height: 60px;
    margin:20px;
}

.icon-github{
    background-image: url('../IMAGES/github.svg');
    background-size: 60px 60px;
}


.icon-twitter{
    background-image: url('../IMAGES/twitter.svg');
    background-size: 60px 60px;
}

.icon-linkedin{
    background-image: url('../IMAGES/linkedin.svg');
    background-size: 60px 60px;
}

.icon-instagram{
    background-image: url('../IMAGES/instagram.svg');
    background-size: 60px 60px;
}

footer{
    display: flex;
    align-items: center;
    margin:0px;
    padding:0px;
    height: 60px;
}


h3{
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 1.4em;
    /*color: #e56363;*/
}

.my_url{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color:	#797979;
    padding: 5px;
    border: 2px solid 	#797979;
    border-radius: 10px;
    margin:5px;
    width: 150px;
    
}

.text-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}