{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Registro</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/users/base.css' %}">
{% endblock %}

{% block content %}
<form action="{%  url 'users:signup' %}" method="POST" class="form">

    {% csrf_token %}

    <h1 class="form-title">Encuestados</h1>

    <input type="text" name="username" placeholder="Nombre de usuario">
    <input type="password" name="password" placeholder="Contraseña">
    <input type="password" name="confirmation" placeholder="Confirmar contraseña">

    <button class="form-button">
        <p class="text-button">Registrarse</p>
    </button>

</form>

<div class="form">
    <p class="form-option">Ya tienes cuenta? <a href="{% url 'users:login' %}"><strong>Iniciar sesión</strong></a></p>

</div>
{% endblock %}