{% extends 'polls/base.html' %}
{% load static %}

{% block title %}
<title>Crear opciones</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/polls/choices.css' %}">
{% endblock %}

{% block content %}
<div class="choices-container">
    <div class="choices">

        <div class="poll-inputs">

        </div>

        <p class="info">
            Tu encuesta:
        </p>
      
        <h1 class="question">{{question.question_text}}</h1>

        <ul>
            {% for choice in question.choice_set.all %}
            <li><h2 class="choice">{{choice}}</h2></li>
            {% endfor %}
        </ul>   

     

        <p class="info">
            Agrega las opciones necesarias para tu pregunta:
        </p>
        
        <form action="{% url 'polls:create-choices' question.pk %}" method="POST">
            {% csrf_token %}
                <input type="hidden" name="question" value="{{question.pk}}">
                <input type="text" name="choice_text" placeholder="Opción...">
                <button class="form-button">
                    <p class="text-button"><strong>Agregrar opción</strong></p>
                </button>
        </form>

        

    </div>
    <a href="{% url 'polls:index' %}" class="link-option">
        <p class="text-option"><strong>Finalizar</strong></p>    
    </a>

</div>
    
{% endblock %}

