
<h1>{{question.question_text}}</h1>

{% for choice in choices %}
<h2>{{choice}}</h2>
{% endfor %}

<p class="form-text">Ahora agrega opciones:</p>
    <form action="{% url 'polls:create-choices' question.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="question" value="{{question.pk}}">
        <input type="text" name="choice_text" placeholder="Opción...">
        <button class="form-button">
            <p class="text-button">Agregar opción</p>
        </button>
    </form>

    <a href="">Crear pregunta</a>