{% load static %}

<nav class="main-nav">
    <ul style="list-style: none; display: flex;">
        <li>
            <a href="">
                <img src="{% static 'icons/settings.png'%}" width="30px" class="icon">
            </a>     
        </li>
        <li>
            <a href="">
                <img src="{% static 'icons/settings.png'%}" width="30px" class="icon">
            </a>
        </li>
        
    </ul>

    <h1 class="title">Encuestados</h1>

    <ul style="list-style: none; display: flex;">
        <li>
            <a href="">
                <img src="{% static 'icons/settings.png'%}" width="30px" class="icon">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'icons/settings.png'%}" width="30px" class="icon">
            </a>
        </li>
    </ul>

</nav>
    

