{% load static %}

<nav class="main-nav">
    <ul style="list-style: none; display: flex;">
        <li>
            <a href="{% url 'polls:home' %}">
                <img src="{% static 'icons/gray-home.png'%}" width="30px" class="icon">
            </a>     
        </li>
        <li>
            <a href="{% url 'polls:create-question' %}">
                <img src="{% static 'icons/file.png'%}" width="31px" class="icon">
            </a>
        </li>
        <li>
            <a href="{% url 'polls:index' %}">
                <img src="{% static 'icons/writing.png'%}" width="30px" class="icon">
            </a>
        </li>
        
    </ul>

    <h1 class="title">Encuestados</h1>

    <ul style="list-style: none; display: flex;">
        
        <li>
            <a href="{% url 'users:profile' user.username %}">
                <img src="{% static 'icons/gray-user.png'%}" width="30px" class="icon">
            </a>
        </li>
        <li>
            <a href="{% url 'users:logout' %}">
                <img src="{% static 'icons/logout.png'%}" width="28px" class="icon">
            </a>
        </li>
    </ul>

</nav>
    

