{% extends 'users/base.html' %}
{% load static %}

{% block title %}
<title>Registro</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/users/base.css' %}">
{% endblock %}

{% block content %}
<form action="{%  url 'users:signup' %}" method="POST" class="form">

    {% csrf_token %}

    <h1 class="form-title">Encuestados</h1>

    <input type="text" name="username" placeholder="Nombre de usuario">
    {% if form.username.errors %}
        {% for error in form.username.errors %}
            <p class="errorlist">{{error}}</p>
        {% endfor %}
    {% endif %}

    <input type="password" name="password" placeholder="Contraseña">
    {% if form.password.errors %}
        {% for error in form.password.errors %}
            <p class="errorlist">{{error}}</p>
        {% endfor %}
    {% endif %}

    <input type="password" name="confirmation" placeholder="Confirmar contraseña">

    <p class="errorlist">{{error_message}}</p>

    <button class="form-button">
        <p class="text-button">Registrarse</p>
    </button>

    

</form>

<div class="form">
    <p class="form-option">Ya tienes cuenta? <a href="{% url 'users:login' %}"><strong>Iniciar sesión</strong></a></p>

</div>
{% endblock %}